body {
    line-height: 1.5;
    color: var(--color-light);
    font-family: var(--font-base);
    background-color: var(--color-dark-base);
}

.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    flex: 1;
}

a,
input,
button {
    transition: color 0.2s linear;
}

a:focus-visible,
input:focus-visible,
button:focus-visible {
    border-radius: 1px;
    outline-offset: 3px;
    outline: 2px solid var(--color-accent);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    background-color: var(--color-light);
    opacity: 0.4;
    width: 24px;
    height: 4px;
    border-radius: 1px;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-accent);
    opacity: 1;
}
